html {
  /* background-color: #608699; */
  line-height: 1.7;
}

body {
  font-size: 1.3rem;
  color: #3b454a;
}

h1 {
  font-size: 3rem;
}

h2 {
  line-height: 1.9;
  font-size: 1.7rem;
  color: #5f5f60;
  /* font-family: 'Piazzolla', serif; */
}

h4 {
  line-height: 2;
    font-size: 1.5rem;
    color: #04636d;   
}

p {
  font-size: 1.2rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none!important;
  font-size: 1.5rem;
  color: #04636d;
}

a:hover {
  color: #6fbecd;
}


/* .title {
  background-color:#228a9f;
  margin-bottom: 2rem;
}

.title a {
  color: white;
} */

#contact a {
  color: white;
}

#contact a:hover {
  color: white;
}


.container {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

/* Navbar */

.art {
  font-size: 2.5rem;
  color:#dc3545;
}

.navbar-brand {
  font-size: 2.5rem;
  margin-right: .5rem;
  color: #ffc163!important;
}

.nav-link {
  padding-bottom: 0;
  font-size: 1.75rem;
}

/* Preludio */
.pf-bg {
  background-color:#ffd363;
}


/* video */
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media screen and (max-width: 767px) {

  .art {
    display: none;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
    padding: 0 1.5%;
  }

  
  iframe {
    width: 420px;
    height: 315px;
  }

}

/* Nav */


/* Thumbnail Styles */
.thumbnails {
  margin-right: -15px;
}

.thumbnails a {
  float: left;
  width: 33.3%;
  box-sizing: border-box;
  padding-right: 15px;
	margin-bottom: 15px;
}

.thumbnails.improv a {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-right: 15px;
  /* margin-bottom: 15px; */
}

.thumbnails img {
  width: 100%;
  height: auto;
  display: block;
  transition: all .2s ease-in-out;
}

.thumbnails:hover img {
  opacity: .6;
  transform: scale(.96);
}

.thumbnails:hover img:hover {
  opacity: 1;
  /* transform: scale(1) rotate(1deg); */
  box-shadow: 0 0 7px rgba(0, 0, 0, .5);
}

@media screen and (max-width: 770px) {

  .thumbnails a {
    width: 100%;
  }

  .thumbnails.improv a {
    width: 100%;
    padding: 5%;
  }

}

@media screen and (min-width:500px) and (max-width:770px) {
  .thumbnails a {
    width: 50%;
    padding: 2%;
  }
}

@media screen and (max-width: 499px) {

  .thumbnails a {
    width: 100%;
    padding: 5%;
  }

}

/* Grid */
.row {
  margin-right: -20px;
}

.col {
  width: 100%;
  float: left;
  padding-right: 20px;
  box-sizing: border-box;
}

.col-xs-11 {
  width: 91.662%
}

.col-xs-10 {
  width: 83.332%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.662%;
}

.col-xs-7 {
  width: 58.331%
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.662%
}

.col-xs-4 {
  width: 33.332%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.662%;
}

.col-xs-1 {
  width: 8.332%;
}

@media screen and (min-width: 768px) {

  .row {
    margin-right: -16px;
    /* margin-right: -40px; */
  }

  .col {
    padding-right: 40px;
  }

  .col-sm-11 {
    width: 91.662%
  }

  .col-sm-10 {
    width: 83.332%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.662%;
  }

  .col-sm-7 {
    width: 58.331%
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.662%
  }

  .col-sm-4 {
    width: 33.332%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.662%;
  }

  .col-sm-1 {
    width: 8.332%;
  }

}

@media screen and (min-width: 1024px) {

  .col-md-11 {
    width: 91.662%
  }

  .col-md-10 {
    width: 83.332%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.662%;
  }

  .col-md-7 {
    width: 58.331%
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.662%
  }

  .col-md-4 {
    width: 33.332%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.662%;
  }

  .col-md-1 {
    width: 8.332%;
  }

}

@media screen and (min-width: 1280px) {

  .col-lg-11 {
    width: 91.662%
  }

  .col-lg-10 {
    width: 83.332%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.662%;
  }

  .col-lg-7 {
    width: 58.331%
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.662%
  }

  .col-lg-4 {
    width: 33.332%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.662%;
  }

  .col-lg-1 {
    width: 8.332%;
  }

}

@media screen and (max-width: 1023px) {
  .push-down-sm {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .push-down-sm {
    margin-bottom: 15px;
  }
}

footer {
  text-align: center;
  font-size: 85%;
  padding: 1rem 0;
  color: #acacac;
}

.row:before,
.row:after,
.group:before,
.group:after {
  content: "";
  display: table;
}

.row:after,
.group:after {
  clear: both;
}

.row,
.group {
  zoom: 1;
}
